// SITE-NAV HOVER HIGHLIGHT
.site-nav {
    a {
        position: relative;
    }
    a::before {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
    a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: $color-accent-with;
        z-index: -1;
        transition: transform .3s ease;
    }
}

// LOGO HOVER 
.site-logo {
    a {
        position: relative;
    }
    a::before {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
    a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 70% 0 0 0;
        background: $color-accent-with;
        z-index: -1;
        transition: transform .3s ease;
    }
}

// FOLDER HOVER FLOAT
.float-on-hover {
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.float-on-hover:hover {
    transform: translateY(-1em);
}

// BUTTON ANIMATION
.sub-container {
    .button {
        margin-top: 3em;
        line-height: 50px;
	    height: 50px;
	    text-align: center;
	    width: 250px;
	    cursor: pointer;
        transition: all 0.5s;
	    position: relative;
    }
    .button::before {
        content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	    background-color: rgba(0, 0, 0, 0.089);
	    transition: all 0.3s;
    }
    .button:hover::before {
        opacity: 0 ;
	    transform: scale(0.5,0.5);
    }
    .button::after {
        content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	    opacity: 0;
	    transition: all 0.3s;
	    border: 1px solid rgba(2, 2, 2, 0.205);
	    transform: scale(1.2,1.2);
    }
    .button:hover::after {
        opacity: 1;
	    transform: scale(1,1);
    }
    span {
        p {
            font-weight: 700;
            color: black;
            position: relative;
            bottom: 1em;
            z-index: 20;
        }
    }
    

    
    .project-button {
        margin-top: 6em;
        
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;

            li {
                font-size: 1em;
                font-weight: 700;
                text-decoration: none;
                background-color: white;
                padding: 0.5em 1em 0.6em 1em;
                border-radius: 50px;
                border: $color-petmily 2px solid;
                transform: scale(1);
                transition: all 400ms ease;
                a {
                    color: black;
                }
            }
            li:hover {
                background-color: $color-petmily;
                transform: scale(1.05);
                transition: all 400ms ease;
            }
            
        }
    }


    // FOR BUTTON COLORS
    .project-button {
        .holidaycard {
            background-color: white;
            border: $color-holidaycard 2px solid;
        }
        .holidaycard:hover {
            background-color: $color-holidaycard;
        }

        .yours {
            background-color: white;
            border: $color-yours 2px solid;
        }
        .yours:hover {
            background-color: $color-yours;
        }

        .annual.report {
            background-color: white;
            border: $color-annualreport 2px solid; 
        }
        .annual.report:hover {
            background-color: $color-annualreport;
        }

        .leahi {
            background-color: white;
            border: $color-leahi 2px solid; 
        }
        .leahi:hover {
            background-color: $color-leahi;
        }

        .olympic {
            background-color: white;
            border: $color-olympic 2px solid; 
        }
        .olympic:hover {
            background-color: $color-olympic;
        }

        .untact {
            background-color: white;
            border: $color-untact 2px solid; 
        }
        .untact:hover {
            background-color: $color-untact;
        }

        .venice {
            background-color: white;
            border: $color-venice 2px solid; 
        }
        .venice:hover {
            background-color: $color-venice;
        }

        .subway {
            background-color: white;
            border: $color-subway 2px solid; 
        }
        .subway:hover {
            background-color: $color-subway;
        }

        .jammy {
            background-color: white;
            border: $color-jammy 2px solid; 
        }
        .jammy:hover {
            background-color: $color-jammy;
        }
        
    }
}

// MAIN PAGE TRANSITION EMOJI LOADING
.splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: 1;
    z-index: 500;
    display: grid;
    place-items: center;
    animation-name: fade-out;
    animation-duration: 0.3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0;
    z-index: -1; }
}

.progress-bar {
    z-index: 510;
    width: 400px;
    height: 48px;
    flex: 0 0 340px;
    align-self: center;
    padding: 1em 0.5em;
    border: 1px solid $color-link;
    border-radius: 24px;
    text-align: left;
  
    &__percent {
      display: inline-block;
      position: relative;
      bottom: 1.15em;
      text-align: center;
      width: 16px;
      height: 16px;
      float: left;
      padding: 0.75em;
    
      &::before {
        display: block;
        content: attr(data-emoji);
      }
    }
  }