.site-header {
    display: block;

        .container {
            display: flex;
            justify-content: space-between;
            padding-bottom: 1em;
        }

        .site-logo {
            margin-top: 1.2em;

            img {
                width: 60%;
            }
        }

        .site-nav {
            ul {
                display: flex;
                margin-top: 2em;
                li {
                    list-style: none;
                    margin-left: 1.5em;
                    a {
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }
}

hr {
    border: 0;
    height: 1px;
    max-width: 1800px;
    background-color: $color-accent-with;
}

.site-footer {
    display: block;
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    padding: 2em;
    margin-bottom: 2em;
    // background-color: $color-accent-with;

        .container {
            display: flex;
            justify-content: center;
        }

        img {
            justify-content: center;
            max-width: 100%;
        }

        .site-nav {
            ul {
                display: flex;
                margin-top: 2em;
                padding: 0;
                li {
                    list-style: none;
                    margin: 0 1.5em;
                    font-size: 3em;
                    font-weight: bold;
                    a {
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }
}