// HERO 
.hero {
    padding: 3em 0;
}
.hero .container {
    display: flex;
    justify-content: space-between;
    font-family: $font-family-sans;

    .hero-left {
        margin-top: 2.5em;

        h1 {
            font-size: 4em;
            line-height: 1.1;
            text-align: left;
        }
        h2 {
            font-size: 1.8em;
            line-height: 1.3;
            font-weight: 300;
            margin: 0;
        }
        .color {
            color: $color-accent-with;
        }
    }

    .hero-right {
        max-width: 50%;
    }
}

// ABOUT
.about-hero {
    margin-bottom: 8em;
    .container {
        display: flex;
        justify-content: center;
        font-family: $font-family-sans;
        .menu-container {
            display: inline-block;
            position: relative;
            max-width: 1000px;
            background-color: white;
            margin: 5% auto 0;
            margin-bottom: 6em;
            padding: 0;
            border-radius: 20px;
            box-shadow:  inset 0 0 1px rgba(255,255,255,1);
            box-shadow:  4px 4px 5px rgba(0, 0, 0, 0.055);
            .nav-about {
                background-color: $color-accent-with;
                height:40px;
                border-radius:20px 20px 0 0;
            }  
        }
        .menu {
            .row {
                padding: 0 2em 0 2em;
                align-items: center;
                li {
                    list-style: none;
                }
            }
        }
        
    }
}
.about-right {
    margin-top: 4em;
    margin-left: 3em;
    justify-content: left;
    align-items: center;

    h1 {
        font-size: 2em;
        margin: 0;
    }
    h2 {
        margin: 0;
        color: $color-accent-with;
    }
    h3 {
        font-weight: 300;
    }
    ul {
        list-style: none;
        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }
    }
}

// SUB-HERO
.sub-hero {
    .annualreport {
        background-image: url(../img/holidaycard/cover.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 20vh 1em;
        // filter: blur(8px);
    }

    .jammy {
        background-image: url(../img/jammy/hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 30vh 1em;
    }

    .holidaycard {
        background-image: url(../img/holidaycard/cover.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 30vh 1em;
    }

    .leahi {
        background-image: url(../../img/leahicover/cover1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 30vh 1em;
    }

    .olympic {
        background-image: url(../img/olympic/skijump.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 30vh 1em;
    }

    .petmily {
        background-image: url(../img/petmily/cover.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 30vh 1em;
    }

    .subway {
        background-image: url(../img/subway/hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 30vh 1em;
    }

    .tourism {
        background-image: url(../img/tourismlogo/nathan-riley-k-7nACY1gC0-unsplash.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 30vh 1em;
    }

    .yours {
        background-image: url(../img/yours/hero1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 30vh 1em;
    }

    .untact {
        background-image: url(../img/untact/hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 30vh 1em;
    }

    h1 {
        font-family: $font-family-sans;
        font-size: 10em;
        line-height: 1;
        position: relative;
        text-align: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        z-index: 2;
        padding-top: 20vh;
        padding-bottom: 20vh;
        background-color: rgba(0, 0, 0, 0.377);
    }
}


#sub-work {
    .annualreport-back {
        background-color: $color-annualreport;
        width: 100%;
        margin:0;
        color: transparent;
        font-size: 0.5em;
    }

    .jammy-back {
        background-color: $color-jammy;
        width: 100%;
        margin:0;
        color: transparent;
        font-size: 0.5em;
    }

    .holidaycard-back {
        background-color: $color-holidaycard;
        width: 100%;
        margin:0;
        color: transparent;
        font-size: 0.5em;
    }

    .leahi-back {
        background-color: $color-leahi;
        width: 100%;
        margin:0;
        color: transparent;
        font-size: 0.5em;
    }

    .olympic-back {
        background-color: $color-olympic;
        width: 100%;
        margin:0;
        color: transparent;
        font-size: 0.5em;
    }

    .petmily-back {
        background-color: $color-petmily;
        width: 100%;
        margin:0;
        color: transparent;
        font-size: 0.5em;
    }

    .subway-back {
        background-color: $color-subway;
        width: 100%;
        margin:0;
        color: transparent;
        font-size: 0.5em;
    }

    .tourism-back {
        background-color: $color-venice;
        width: 100%;
        margin:0;
        color: transparent;
        font-size: 0.5em;
    }

    .yours-back {
        background-color: $color-yours;
        width: 100%;
        margin:0;
        color: transparent;
        font-size: 0.5em;
    }

    .untact-back {
        background-color: $color-untact;
        width: 100%;
        margin:0;
        color: transparent;
        font-size: 0.5em;
    }
}